* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  margin: 0 50px;
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

/* index */
.container {
  display: flex;
  gap: 50px;
}

#msg {
  color: red;
}

button:hover {
  color: cadetblue;
  background-color: blueviolet;
}

#post {
  width: 400px;
}

#post div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  gap: 25px;
}

table {
  /* border-collapse: collapse; */
  width: 100%;
}

td {
  border: 2px solid green;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #b0d1e4;
}

tr:nth-child(odd) {
  background-color: #6aabd1;
} 
.fas {
  bottom: 10px;
  display: flex;
  left: 160px;
  position: relative;
  text-align: center;
}

i.fa-edit:hover {
  color: blue;
  cursor: pointer;
}

i.fa-trash-alt:hover {
  color: red;
  cursor: pointer;
}

/* page2 */
